# Understanding the data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("chicago.csv")

In [3]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [5]:
df.columns

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

The database has the following columns:
1. `Unnamed: 0`
2. `Start Time`
3. `End Time`
4. `Trip Duration`
5. `Start Station`
6. `End Station`
7. `User Type`
8. `Gender`
9. `Birth Year`

In [6]:
df.describe()

         Unnamed: 0  Trip Duration     Birth Year
count  3.000000e+05  300000.000000  238981.000000
mean   7.763458e+05     936.239290    1980.858223
std    4.481464e+05    1548.792767      11.003329
min    4.000000e+00      60.000000    1899.000000
25%    3.871368e+05     393.000000    1975.000000
50%    7.771035e+05     670.000000    1984.000000
75%    1.164065e+06    1125.000000    1989.000000
max    1.551500e+06   86224.000000    2016.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
Unnamed: 0       300000 non-null int64
Start Time       300000 non-null object
End Time         300000 non-null object
Trip Duration    300000 non-null int64
Start Station    300000 non-null object
End Station      300000 non-null object
User Type        300000 non-null object
Gender           238948 non-null object
Birth Year       238981 non-null float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

Only **`Gender`** and **`Birth Year`** columns have some `NaN` entries.

In [8]:
df['Gender'].value_counts()

Male      181190
Female     57758
Name: Gender, dtype: int64

In [9]:
df['Birth Year'].value_counts()

1989.0    14666
1988.0    12490
1991.0    12397
1990.0    12378
1987.0    11939
1986.0    11598
1992.0    11033
1984.0    10562
1985.0    10375
1983.0     8739
1982.0     8619
1993.0     8601
1981.0     7535
1980.0     6603
1979.0     5301
1977.0     5021
1978.0     4851
1994.0     4799
1976.0     4149
1975.0     3930
1974.0     3802
1970.0     3639
1969.0     3619
1968.0     3319
1972.0     3194
1973.0     3104
1966.0     3015
1971.0     2994
1964.0     2966
1962.0     2803
          ...
1950.0      422
1946.0      260
1948.0      163
1945.0      148
1999.0      131
1944.0       93
2000.0       84
1947.0       64
1918.0       46
1942.0       44
1939.0       39
1921.0       32
1934.0       30
1940.0       30
1941.0       23
2001.0       17
1900.0       17
1899.0       14
1901.0        9
1906.0        7
1943.0        6
2016.0        6
1916.0        5
1930.0        3
1938.0        2
2002.0        2
1909.0        2
2003.0        2
1931.0        1
2004.0        1
Name: Birth Year, Length: 79, dtype: int64

In [10]:
df['Start Station'].value_counts()

Streeter Dr & Grand Ave                6911
Clinton St & Washington Blvd           4306
Lake Shore Dr & Monroe St              4289
Clinton St & Madison St                3744
Canal St & Adams St                    3443
Lake Shore Dr & North Blvd             3348
Theater on the Lake                    3317
Columbus Dr & Randolph St              2889
Michigan Ave & Oak St                  2869
Kingsbury St & Kinzie St               2804
Canal St & Madison St                  2798
Michigan Ave & Washington St           2778
Millennium Park                        2728
Clinton St & Jackson Blvd              2690
Franklin St & Monroe St                2578
Shedd Aquarium                         2319
Daley Center Plaza                     2304
McClurg Ct & Illinois St               2238
Orleans St & Merchandise Mart Plaza    2152
Michigan Ave & Lake St                 2095
Indiana Ave & Roosevelt Rd             1972
LaSalle St & Illinois St               1968
Dearborn St & Erie St                  1965
Franklin St & Jackson Blvd             1944
LaSalle St & Jackson Blvd              1909
Clinton St & Lake St                   1841
Clark St & Elm St                      1841
Burnham Harbor                         1826
Dearborn St & Monroe St                1810
Dusable Harbor                         1796
                                       ...
State St & 79th St                        3
Exchange Ave & 79th St                    3
Vernon Ave & 75th St                      3
Commercial Ave & 83rd St                  3
Wabash Ave & 87th St                      2
Vernon Ave & 79th St                      2
Damen Ave & 59th St                       2
Phillips Ave & 79th St                    2
Halsted St & 69th St                      2
Cicero Ave & Quincy St                    2
Normal Ave & 72nd St                      2
Kostner Ave & Adams St                    2
Marshfield Ave & 59th St                  2
MLK Jr Dr & 83rd St                       2
Cicero Ave & Lake St                      2
Seeley Ave & Garfield Blvd                2
Marshfield Ave & 44th St                  2
Laramie Ave & Madison St                  2
Bennett Ave & 79th St                     1
Shields Ave & 43rd St                     1
Greenwood Ave & 79th St                   1
Halsted St & 51st St                      1
Kenton Ave & Madison St                   1
Ellis Ave & 83rd St                       1
Ashland Ave & 69th St                     1
Laramie Ave & Kinzie St                   1
Racine Ave & 65th St                      1
Throop St & 52nd St                       1
Lawndale Ave & 23rd St                    1
Morgan St & Pershing Rd                   1
Name: Start Station, Length: 568, dtype: int64

## Practice Problem 1: Compute the Most Popular Start Hour

In [12]:
# convert "Start Time" to the datetime datatype
df['Start Time'] = pd.to_datetime(df['Start Time'])

In [16]:
# extract hour from the Start Time column to create an hour column
df['hour'] = df['Start Time'].dt.hour

In [23]:
# find the most common hour (from 0 to 23)
popular_hour = df['hour'].mode().values[0]

In [24]:
print('Most Frequent Start Hour:', popular_hour)

Most Frequent Start Hour: 17

## Practice Problem 2: Display a Breakdown of User Types

In [26]:
df['User Type'].value_counts()

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

## Practice Problem 3: Load and Filter the Dataset

In [27]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [30]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday_name


    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month)+1
    
        # filter by month to create the new dataframe
        df = df[df['month']==month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week']==day.title()]
    
    return df

In [31]:
df = load_data('chicago', 'march', 'friday')

In [32]:
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
37,395803,2017-03-24 15:35:55,2017-03-24 15:46:10,615,Dearborn St & Erie St,State St & Van Buren St,Subscriber,Male,1989.0,3,Friday
93,395735,2017-03-24 15:32:04,2017-03-24 15:52:53,1249,Sedgwick St & Webster Ave,Western Ave & Winnebago Ave,Subscriber,Female,1964.0,3,Friday
175,395402,2017-03-24 15:10:29,2017-03-24 15:19:44,555,Franklin St & Monroe St,Aberdeen St & Monroe St,Subscriber,Male,1987.0,3,Friday
190,393400,2017-03-24 12:29:30,2017-03-24 12:48:56,1166,Southport Ave & Wellington Ave,Lake Shore Dr & North Blvd,Subscriber,Female,1984.0,3,Friday
198,427496,2017-03-31 08:25:53,2017-03-31 08:39:09,796,Clinton St & Jackson Blvd,Racine Ave (May St) & Fulton St,Subscriber,Male,1983.0,3,Friday
232,391555,2017-03-24 08:41:22,2017-03-24 08:50:16,534,Clinton St & Washington Blvd,Financial Pl & Congress Pkwy,Subscriber,Male,1963.0,3,Friday
248,334159,2017-03-10 22:17:28,2017-03-10 22:37:53,1225,Damen Ave & Augusta Blvd,Lincoln Ave & Diversey Pkwy,Subscriber,Male,1988.0,3,Friday
251,393341,2017-03-24 12:24:00,2017-03-24 12:53:25,1765,Streeter Dr & Grand Ave,Clark St & Armitage Ave,Customer,NaN,NaN,3,Friday
297,351986,2017-03-17 06:18:10,2017-03-17 06:25:06,416,Clinton St & Madison St,State St & Van Buren St,Subscriber,Male,1960.0,3,Friday
311,428458,2017-03-31 12:19:26,2017-03-31 12:36:56,1050,McCormick Place,Daley Center Plaza,Subscriber,Male,1985.0,3,Friday
454,393827,2017-03-24 13:08:08,2017-03-24 13:53:04,2696,Lake Shore Dr & Ohio St,Lake Shore Dr & Ohio St,Customer,NaN,NaN,3,Friday
460,356164,2017-03-17 19:24:31,2017-03-17 19:42:01,1050,St. Clair St & Erie St,Larrabee St & Armitage Ave,Subscriber,Male,1989.0,3,Friday
497,331491,2017-03-10 13:19:34,2017-03-10 13:46:03,1589,Clinton St & Madison St,Clark St & 9th St (AMLI),Subscriber,Male,1982.0,3,Friday
533,329259,2017-03-10 06:30:32,2017-03-10 06:33:02,150,Western Ave & Winnebago Ave,Leavitt St & North Ave,Subscriber,Male,1985.0,3,Friday
542,428966,2017-03-31 14:34:50,2017-03-31 14:41:50,420,Clark St & Randolph St,Clinton St & Jackson Blvd,Subscriber,Male,1986.0,3,Friday
617,356311,2017-03-17 20:10:28,2017-03-17 20:17:11,403,Dayton St & North Ave,Wells St & Concord Ln,Subscriber,Male,1991.0,3,Friday
654,396543,2017-03-24 16:12:17,2017-03-24 16:31:03,1126,Streeter Dr & Grand Ave,Theater on the Lake,Subscriber,Male,1994.0,3,Friday
696,427323,2017-03-31 08:09:10,2017-03-31 08:15:55,405,Aberdeen St & Jackson Blvd,Franklin St & Jackson Blvd,Subscriber,Male,1986.0,3,Friday
698,333750,2017-03-10 18:52:50,2017-03-10 19:00:00,430,Orleans St & Merchandise Mart Plaza,Dearborn St & Erie St,Subscriber,Male,1988.0,3,Friday
734,289917,2017-03-03 11:26:09,2017-03-03 11:41:41,932,Dusable Harbor,Field Museum,Customer,NaN,NaN,3,Friday
803,329433,2017-03-10 07:07:28,2017-03-10 07:12:53,325,Clarendon Ave & Gordon Ter,Sheridan Rd & Irving Park Rd,Subscriber,Female,1989.0,3,Friday
916,431326,2017-03-31 20:04:39,2017-03-31 20:08:53,254,Kingsbury St & Kinzie St,Clinton St & Washington Blvd,Subscriber,Male,1964.0,3,Friday
934,289469,2017-03-03 09:09:21,2017-03-03 09:18:38,557,Canal St & Adams St,Clinton St & Lake St,Subscriber,Female,1977.0,3,Friday
981,431436,2017-03-31 20:49:03,2017-03-31 21:01:49,766,Desplaines St & Kinzie St,Desplaines St & Kinzie St,Subscriber,Female,1995.0,3,Friday
1013,397792,2017-03-24 17:02:51,2017-03-24 17:17:49,898,Stockton Dr & Wrightwood Ave,Halsted St & Dickens Ave,Subscriber,Female,1984.0,3,Friday
1089,329892,2017-03-10 07:59:51,2017-03-10 08:05:45,354,Millennium Park,LaSalle St & Adams St,Subscriber,Male,1962.0,3,Friday
1145,397184,2017-03-24 16:38:40,2017-03-24 16:42:51,251,Southport Ave & Roscoe St,Southport Ave & Irving Park Rd,Subscriber,Male,1991.0,3,Friday
1167,329576,2017-03-10 07:25:53,2017-03-10 07:29:31,218,Wilton Ave & Diversey Pkwy,Lincoln Ave & Fullerton Ave,Subscriber,Female,1994.0,3,Friday
1184,355303,2017-03-17 17:27:33,2017-03-17 17:29:44,131,Ravenswood Ave & Irving Park Rd,Ashland Ave & Belle Plaine Ave,Subscriber,Male,1989.0,3,Friday
1222,389872,2017-03-24 04:45:58,2017-03-24 04:56:49,651,Dayton St & North Ave,Elston Ave & Wabansia Ave,Subscriber,Male,1964.0,3,Friday
...,...,...,...,...,...,...,...,...,...,...,...
298441,354234,2017-03-17 15:31:27,2017-03-17 15:55:30,1443,Shedd Aquarium,Streeter Dr & Grand Ave,Customer,NaN,NaN,3,Friday
298463,428074,2017-03-31 10:06:54,2017-03-31 10:33:33,1599,Burnham Harbor,Lake Park Ave & 47th St,Customer,NaN,NaN,3,Friday
298495,288080,2017-03-03 05:36:09,2017-03-03 05:51:11,902,Canal St & Adams St,State St & Pearson St,Subscriber,Male,1951.0,3,Friday
298512,292652,2017-03-03 19:01:20,2017-03-03 19:10:58,578,LaSalle St & Washington St,Aberdeen St & Jackson Blvd,Subscriber,Male,1958.0,3,Friday
298538,354251,2017-03-17 15:34:35,2017-03-17 15:49:20,885,Halsted St & Roosevelt Rd,Clinton St & Washington Blvd,Subscriber,Male,1966.0,3,Friday
298590,393953,2017-03-24 13:20:17,2017-03-24 13:56:45,2188,Lake Shore Dr & Belmont Ave,Lake Shore Dr & North Blvd,Subscriber,Female,1992.0,3,Friday
298600,392389,2017-03-24 10:29:10,2017-03-24 10:35:15,365,Benson Ave & Church St,Sheridan Rd & Noyes St (NU),Subscriber,Male,1983.0,3,Friday
298650,332161,2017-03-10 15:56:44,2017-03-10 16:03:05,381,Franklin St & Jackson Blvd,Clinton St & Madison St,Subscriber,Male,1952.0,3,Friday
298695,329485,2017-03-10 07:15:03,2017-03-10 07:20:45,342,Clark St & Grace St,Wilton Ave & Belmont Ave,Subscriber,Male,1993.0,3,Friday
298754,430358,2017-03-31 17:35:29,2017-03-31 17:40:43,314,Avondale Ave & Irving Park Rd,Kilbourn Ave & Irving Park Rd,Subscriber,Female,1982.0,3,Friday
298770,355957,2017-03-17 18:46:53,2017-03-17 18:53:44,411,Damen Ave & Pierce Ave,Wood St & Division St,Subscriber,Female,1989.0,3,Friday
299052,397856,2017-03-24 17:04:59,2017-03-24 17:37:57,1978,LaSalle St & Illinois St,Lincoln Ave & Belle Plaine Ave,Customer,NaN,NaN,3,Friday
299097,329197,2017-03-10 06:13:00,2017-03-10 06:18:47,347,Wells St & Polk St,Dearborn St & Monroe St,Subscriber,Female,1988.0,3,Friday
299111,329540,2017-03-10 07:22:22,2017-03-10 07:24:19,117,Calumet Ave & 18th St,Michigan Ave & 18th St,Subscriber,Female,1985.0,3,Friday
299135,395800,2017-03-24 15:35:50,2017-03-24 15:41:58,368,Cottage Grove Ave & 43rd St,Prairie Ave & 43rd St,Subscriber,Female,1962.0,3,Friday
299277,353476,2017-03-17 11:49:01,2017-03-17 11:54:09,308,Clinton St & Jackson Blvd,Canal St & Taylor St,Subscriber,Male,1977.0,3,Friday
299390,399789,2017-03-24 20:59:19,2017-03-24 21:10:15,656,Leavitt St & Archer Ave,Leavitt St & Archer Ave,Customer,NaN,NaN,3,Friday
299430,392985,2017-03-24 11:53:38,2017-03-24 12:05:16,698,Morgan Ave & 14th Pl,Green St & Randolph St,Subscriber,Male,1987.0,3,Friday
299433,355107,2017-03-17 17:12:24,2017-03-17 17:24:00,696,Franklin St & Monroe St,Wabash Ave & Grand Ave,Subscriber,Male,1993.0,3,Friday
299528,428442,2017-03-31 12:12:13,2017-03-31 12:18:31,378,Michigan Ave & Jackson Blvd,Daley Center Plaza,Subscriber,Male,1972.0,3,Friday
299548,397051,2017-03-24 16:33:45,2017-03-24 16:45:53,728,Clark St & Lincoln Ave,Broadway & Barry Ave,Subscriber,Male,1970.0,3,Friday
299569,391358,2017-03-24 08:29:50,2017-03-24 08:38:59,549,Canal St & Adams St,Wells St & Huron St,Subscriber,Male,1968.0,3,Friday
299598,351944,2017-03-17 06:03:35,2017-03-17 06:13:20,585,Racine Ave & Congress Pkwy,Clinton St & Jackson Blvd,Subscriber,Male,1953.0,3,Friday
299746,353725,2017-03-17 13:09:52,2017-03-17 13:22:17,745,Wabash Ave & Grand Ave,Sangamon St & Washington Blvd (*),Subscriber,Male,1993.0,3,Friday
299771,390676,2017-03-24 07:43:53,2017-03-24 07:53:26,573,LaSalle St & Illinois St,Columbus Dr & Randolph St,Subscriber,Male,1987.0,3,Friday
299816,333246,2017-03-10 17:40:53,2017-03-10 17:44:59,246,Wells St & Walton St,Rush St & Cedar St,Subscriber,Female,1992.0,3,Friday
299839,392682,2017-03-24 11:17:50,2017-03-24 11:51:44,2034,Lake Shore Dr & Monroe St,Streeter Dr & Grand Ave,Customer,NaN,NaN,3,Friday
299860,290125,2017-03-03 12:19:29,2017-03-03 12:32:58,809,Aberdeen St & Monroe St,Clark St & 9th St (AMLI),Subscriber,Male,1975.0,3,Friday
299865,288513,2017-03-03 07:26:48,2017-03-03 07:31:22,274,Damen Ave & Melrose Ave,Lincoln Ave & Roscoe St,Subscriber,Female,1981.0,3,Friday
299898,292757,2017-03-03 19:30:48,2017-03-03 19:34:52,244,Clark St & Berwyn Ave,Broadway & Berwyn Ave,Subscriber,Male,1980.0,3,Friday

In [34]:
df['Start Station'].mode().values[0]

'Clinton St & Washington Blvd'

In [35]:
df['combo'] = df['Start Station'] + " " + df['End Station']

In [36]:
df['combo']

37            Dearborn St & Erie St State St & Van Buren St
93        Sedgwick St & Webster Ave Western Ave & Winneb...
175         Franklin St & Monroe St Aberdeen St & Monroe St
190       Southport Ave & Wellington Ave Lake Shore Dr &...
198       Clinton St & Jackson Blvd Racine Ave (May St) ...
232       Clinton St & Washington Blvd Financial Pl & Co...
248       Damen Ave & Augusta Blvd Lincoln Ave & Diverse...
251         Streeter Dr & Grand Ave Clark St & Armitage Ave
297         Clinton St & Madison St State St & Van Buren St
311                      McCormick Place Daley Center Plaza
454         Lake Shore Dr & Ohio St Lake Shore Dr & Ohio St
460       St. Clair St & Erie St Larrabee St & Armitage Ave
497        Clinton St & Madison St Clark St & 9th St (AMLI)
533       Western Ave & Winnebago Ave Leavitt St & North...
542        Clark St & Randolph St Clinton St & Jackson Blvd
617             Dayton St & North Ave Wells St & Concord Ln
654             Streeter Dr & Grand Ave Theater on the Lake
696       Aberdeen St & Jackson Blvd Franklin St & Jacks...
698       Orleans St & Merchandise Mart Plaza Dearborn S...
734                             Dusable Harbor Field Museum
803       Clarendon Ave & Gordon Ter Sheridan Rd & Irvin...
916       Kingsbury St & Kinzie St Clinton St & Washingt...
934                Canal St & Adams St Clinton St & Lake St
981       Desplaines St & Kinzie St Desplaines St & Kinz...
1013      Stockton Dr & Wrightwood Ave Halsted St & Dick...
1089                  Millennium Park LaSalle St & Adams St
1145      Southport Ave & Roscoe St Southport Ave & Irvi...
1167      Wilton Ave & Diversey Pkwy Lincoln Ave & Fulle...
1184      Ravenswood Ave & Irving Park Rd Ashland Ave & ...
1222        Dayton St & North Ave Elston Ave & Wabansia Ave
                                ...
298441               Shedd Aquarium Streeter Dr & Grand Ave
298463               Burnham Harbor Lake Park Ave & 47th St
298495            Canal St & Adams St State St & Pearson St
298512    LaSalle St & Washington St Aberdeen St & Jacks...
298538    Halsted St & Roosevelt Rd Clinton St & Washing...
298590    Lake Shore Dr & Belmont Ave Lake Shore Dr & No...
298600    Benson Ave & Church St Sheridan Rd & Noyes St ...
298650    Franklin St & Jackson Blvd Clinton St & Madiso...
298695         Clark St & Grace St Wilton Ave & Belmont Ave
298754    Avondale Ave & Irving Park Rd Kilbourn Ave & I...
298770         Damen Ave & Pierce Ave Wood St & Division St
299052    LaSalle St & Illinois St Lincoln Ave & Belle P...
299097           Wells St & Polk St Dearborn St & Monroe St
299111         Calumet Ave & 18th St Michigan Ave & 18th St
299135    Cottage Grove Ave & 43rd St Prairie Ave & 43rd St
299277       Clinton St & Jackson Blvd Canal St & Taylor St
299390      Leavitt St & Archer Ave Leavitt St & Archer Ave
299430          Morgan Ave & 14th Pl Green St & Randolph St
299433       Franklin St & Monroe St Wabash Ave & Grand Ave
299528       Michigan Ave & Jackson Blvd Daley Center Plaza
299548          Clark St & Lincoln Ave Broadway & Barry Ave
299569              Canal St & Adams St Wells St & Huron St
299598    Racine Ave & Congress Pkwy Clinton St & Jackso...
299746    Wabash Ave & Grand Ave Sangamon St & Washingto...
299771    LaSalle St & Illinois St Columbus Dr & Randolp...
299816              Wells St & Walton St Rush St & Cedar St
299839    Lake Shore Dr & Monroe St Streeter Dr & Grand Ave
299860     Aberdeen St & Monroe St Clark St & 9th St (AMLI)
299865      Damen Ave & Melrose Ave Lincoln Ave & Roscoe St
299898          Clark St & Berwyn Ave Broadway & Berwyn Ave
Name: combo, Length: 5813, dtype: object

In [39]:
import numpy as np
np.sum(df['Trip Duration'])

4344099

In [41]:
df['Trip Duration'].mean()

747.3075864441769

In [44]:
print(df['User Type'].value_counts())

Subscriber    5243
Customer       570
Name: User Type, dtype: int64

In [45]:
df['Birth Year'].min()

1918.0

In [47]:
print("Earlier year of birth: {}".format(int(df['Birth Year'].min())))

Earlier year of birth: 1918

In [48]:
df = pd.read_csv("washington.csv")

In [50]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber

In [51]:
df.head(5)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber

In [54]:
df[5:10]

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
5,1148202,2017-05-14 07:18:18,2017-05-14 07:24:56,398.000,1st & K St SE,Eastern Market Metro / Pennsylvania Ave & 7th ...,Subscriber
6,1594275,2017-06-19 08:41:43,2017-06-19 09:00:08,1105.429,Park Rd & Holmead Pl NW,8th & H St NW,Subscriber
7,1601832,2017-06-20 05:54:42,2017-06-20 06:05:18,636.218,1st & D St SE,Potomac & Pennsylvania Ave SE,Subscriber
8,574182,2017-03-24 20:37:00,2017-03-24 20:42:00,328.530,18th & R St NW,15th & P St NW,Subscriber
9,327058,2017-02-20 21:12:00,2017-02-20 21:31:00,1188.090,17th & Corcoran St NW,Lynn & 19th St North,Subscriber